########################################
# SISTEMA OPERACIONAL
########################################
.DS_Store
Thumbs.db

########################################
# EDITORES / IDE
########################################
.vscode/
.idea/
*.swp
*.swo
*~

########################################
# LOGS E TEMP
########################################
*.log
*.tmp
*.cache

########################################
# ARQUIVOS GRANDES DE ESTUDO
########################################
*.mp4
*.mkv
*.avi
*.mov
*.zip
*.rar
*.7z
*.tar
*.gz
*.iso

########################################
# PYTHON
########################################
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

########################################
# NODE / JAVASCRIPT
########################################
node_modules/
dist/
build/

########################################
# JAVA
########################################
*.class
target/
.gradle/
build/

########################################
# C / C++
########################################
*.o
*.out
*.a
*.so

########################################
# BINÁRIOS GERADOS
########################################
/bin/
/dist/
/build/
/target/
